<h1>Editar Producto</h1>y
<%= link_to "Regresar a listado de Productos", products_path, class: 'btn btn-primary' %>
<%= link_to "Ver Detalle de Producto", @product, class: 'btn btn-primary' %>
<%= render "form", product: @product %>